.card__button {
    display: block;
    background-color: whitesmoke;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__button {
    width: 100%;
}